<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MassTransit" version="8.0.5" targetFramework="net472" />
  <package id="MassTransit.Abstractions" version="8.0.5" targetFramework="net472" />
  <package id="MassTransit.Quartz" version="8.0.5" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net46" developmentDependency="true" requireReinstallation="true" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Diagnostics.HealthChecks.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.18" targetFramework="net472" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0" targetFramework="net46" developmentDependency="true" requireReinstallation="true" />
  <package id="Microsoft.SourceLink.GitLab" version="1.0.0" targetFramework="net46" developmentDependency="true" requireReinstallation="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="NLog" version="5.0.1" targetFramework="net472" />
  <package id="Quartz" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Extensions.DependencyInjection" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Extensions.Hosting" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Jobs" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Plugins" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Plugins.TimeZoneConverter" version="3.4.0" targetFramework="net472" />
  <package id="Quartz.Serialization.Json" version="3.4.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.2" targetFramework="net472" />
  <package id="System.Threading.Channels" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TimeZoneConverter" version="5.0.0" targetFramework="net472" />
</packages>